---
---

<div class="container">
  <span class="clip">
    <span id="clip3" class="clip"></span>
    <span id="clip4" class="clip"></span>
    <span id="clipa" class="clip"></span>
    <span id="clip1" class="clip"></span>
    <span id="clip2" class="clip"></span>
    <span id="clipb" class="clip"></span>
  </span>
</div>
<style>
  :root {
    --avatar-background: linear-gradient(
      135deg,
      var(--color-gradient-1),
      var(--color-gradient-1),
      var(--color-gradient-3),
      var(--color-gradient-3)
    );
    --avatar-size: 300px;
  }
  .container {
    width: var(--avatar-size);
    height: var(--avatar-size);
    margin: 2rem auto;
    padding: 1.4rem;
    overflow: hidden;
    background: var(--color-gradient-0);
    box-shadow: 10px 10px 0px var(--color-gradient-0);
  }
  .container:hover {
    transform: translate(-5px, -5px);
    background: var(--avatar-background);
    box-shadow: 20px 20px 0px var(--color-gradient-2);
  }
  .clip {
    position: absolute;
    height: var(--avatar-size);
    width: var(--avatar-size);
    background: url('/spuxx.png') no-repeat center;
    background-size: var(--avatar-size);
    box-shadow: 0px -2px 2px rgba(34, 34, 34, 0.6);
  }
  @keyframes clip1 {
    0% {
      clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
    }
    100% {
      clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
    }
  }
  @keyframes clipa {
    0% {
      clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
    }
    100% {
      clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
    }
  }
  @keyframes clip2 {
    0% {
      clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
    }
    100% {
      clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
    }
  }
  @keyframes clipb {
    0% {
      clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
    }
    100% {
      clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
    }
  }
  @keyframes clip3 {
    0% {
      clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
    }
    100% {
      clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
    }
  }
  @keyframes clip4 {
    0% {
      clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
    }
    100% {
      clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
    }
  }
  #clip1 {
    animation: clip1 8s linear infinite;
    opacity: 0.2;
  }
  #clipa {
    transform: scale(1.1, 1.1);
    animation: clipa 18s linear infinite;
    opacity: 0.2;
  }
  #clip2 {
    transform: scale(1.12, 1.12);
    animation: clip2 10s linear infinite;
    opacity: 0.2;
  }
  #clipb {
    transform: scale(1.14, 1.14);
    animation: clipb 8s linear infinite;
    opacity: 0.2;
  }
  #clip3 {
    transform: scale(1.15, 1.15);
    animation: clip3 14s linear infinite;
    opacity: 0.2;
  }
  #clip4 {
    transform: scale(1.13, 1.13);
    animation: clip4 12s linear infinite;
    opacity: 0.2;
  }
</style>
