---
import TechCard from './TechCard.astro';
---

<div class="tech-showcase">
  <TechCard url="https://vuejs.org" src="/technologies/vue.svg" />
  <TechCard url="https://emberjs.com" src="/technologies/ember.svg" />
  <TechCard url="https://nestjs.com" src="/technologies/nest.svg" />
  <TechCard url="https://astro.build" src="/technologies/astro.png" />
  <TechCard url="https://foundation.rust-lang.org/" src="/technologies/rust.svg" style={{"filter": "invert(100%)"}}/>
  <TechCard url="https://kubernetes.io" src="/technologies/kubernetes.png" />
  <TechCard url="https://fluxcd.io" src="/technologies/flux.png" />
  <TechCard url="https://pop.system76.com/" src="/technologies/pop.svg" />
</div>

<style>
  .tech-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--tech-card-size));
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
</style>
