---
const { level, hash } = Astro.props;
if (!level) {
  throw new Error('The `level` property is required');
}
if (!hash) {
  throw new Error('The `hash` property is required');
}
---

<a href={`#${hash}`}>
  {
    level === 1 ? (
      <h1>
        <slot />
      </h1>
    ) : level === 2 ? (
      <h2>
        <slot />
      </h2>
    ) : level === 3 ? (
      <h3>
        <slot />
      </h3>
    ) : level === 4 ? (
      <h4>
        <slot />
      </h4>
    ) : level === 5 ? (
      <h5>
        <slot />
      </h5>
    ) : level === 6 ? (
      <h6>
        <slot />
      </h6>
    ) : (
      <p>
        <slot />
      </p>
    )
  }
</a>

<style>
  a {
    text-decoration: none;
  }
</style>
