---
import TechShowCase from '../components/home/TechShowcase.astro';
import { SITE_DESCRIPTION } from '../consts';
import Avatar from '../components/home/Avatar.astro';
import AppLayout from '../layouts/App.astro';
import Blog from '../components/blog/Blog.astro';
import Heading from '../components/common/Heading.astro';
---

<AppLayout>
  <Heading level={1} hash="hello-there">Hello there!</Heading>
  <p>
    {SITE_DESCRIPTION}
  </p>
  <Avatar />
  <p>
    I'm a web developer and technical architect at Deutsche Bahn, the german
    public railway company. In the past, I studied biology and worked as a
    trainer and science journalist for many years. Nowadays I mostly do web stuff an kubernetes.
    Here are a couple of technologies and frameworks I enjoy:
  </p>
  <TechShowCase />
  <br />
  <hr />
  <Blog />
</AppLayout>
