---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

export interface Props extends HTMLAttributes<'a'> {
  icon?: string;
}

const { href, class: className, icon, ...props } = Astro.props;

const { pathname, hash } = Astro.url;
---

<a href={href} class:list={[className]} {...props}>
  {icon && <Icon name={icon} />}
  <slot />
</a>
<style>
  a {
    font-size: larger;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 2px solid var(--color-header-background);
  }
  svg {
    margin-right: 5px;
    height: 25px;
    max-width: 25px;
  }
</style>
