<span id="progress-indicator-container">
  <span id="progress-indicator"></span>
</span>
<style>
  #progress-indicator-container {
    position: fixed;
    height: 5px;
    width: 0;
    left: 0;
    top: var(--header-height);
    z-index: 11;
    overflow: hidden;
    background-color: var(--color-app-background);
  }

  #progress-indicator {
    background: linear-gradient(
      to right,
      var(--color-gradient-0),
      var(--color-gradient-1),
      var(--color-gradient-2),
      var(--color-gradient-3)
    );
    height: 100%;
    width: 100vw;
    display: block;
  }
</style>

<script>
  const progressIndicatorContainer = document.getElementById(
    'progress-indicator-container'
  );

  const updateProgressIndicator = () => {
    const scroll = window.scrollY;
    const height = document.documentElement.scrollHeight - window.innerHeight;
    const percentage = (scroll / height) * 100;
    if (progressIndicatorContainer)
      progressIndicatorContainer.style.width = `${percentage}vw`;
  };

  window.addEventListener('scroll', updateProgressIndicator);
  updateProgressIndicator();
</script>
