@import './vuetify.css';
@import './text.css';
@import './layers.css';

:root {
  --accent-bar-height: 2px;
  /* May change at runtime */
  --document-overflow-y: aut;
}

html {
  overflow-x: hidden;
  overflow-y: var(--document-overflow-y);
}

body {
  overflow: hidden;
}
