@import './vuetify.css';
@import './text.css';
@import './layers.css';

:root {
  --accent-bar-height: 2px;
  --bg-color-container: color-mix(in srgb, rgb(var(--v-theme-background)) 70%, black 30%);
}

html {
  overflow-y: auto;
}
