@import 'vuetify/styles';

.v-app-bar {
  height: var(--header-height);
  box-sizing: content-box;
}

.v-container {
  box-sizing: border-box;
}

.v-btn,
.v-btn-toggle {
  text-transform: unset;
  align-items: center;
}

.v-btn__content,
.v-btn-toggle__content {
  gap: 4px;
}

.v-btn,
.v-btn-toggle,
.v-card {
  .iconify--mdi {
    font-size: x-large;
  }
}

.v-field__input::-webkit-outer-spin-button,
.v-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.v-field__input[type='number'] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 960px) {
  .v-number-input__control > button {
    max-width: 2rem;
  }
}
